{% extends "base.html" %}

{% block title %} Add Balance {% endblock %}

{% block content %}
<style>
div {  text-align: center }
</style>
<div class="header-text">
Add a balance!<br><br>
</div>
{% if charities %}
   <form>
      Select a Charity<br>
      <select class="styled-select" name="charity" class="styled-select">
         {% for charity in charities %}
            <option value="{{charity}}">{{charity}}</option>
         {% endfor %}
      </select>
      <br><br>

      Enter amount<br>
      <input class="styled-input" type="number" name="amount" min="1">
      <br><br>
      <input type="submit" name="submit">
      </div>
   </form>
{% else %}
 You have no charities to donate to!
{% endif %}
 </div>
{% endblock %}
