{% extends "base.html" %}

{% block title %} Add Balance {% endblock %}

{% block content %}
<div class="header-text">
Add a balance!<br><br>
</div>
{% if charities %}
<div class="styled-select styled-input">
   <form>
      Select a Charity<br>
      <select name="charity" class="styled-select">
         {% for charity in charities %}
            <option value="{{charity}}">{{charity}}</option>
         {% endfor %}
      </select>
      <br><br>

      Enter amount<br>
      <input type="number" name="amount" min="1">
      <br><br>
      <input type="submit">
      </div>
   </form>
{% else %}
 You have no charities to donate to!
{% endif %}
   
{% endblock %}
