{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Share Jar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
  </head>

<body>

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">ShareJar</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'createUser' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
    <div class="container">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">

          <form class="form-vertical" method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <p class="form-login">
                {% if form.errors %}
                  <div class="alert alert-danger">
                    <p>Incorrect Password</p>
                  </div>
                {% endif %}
                <div class="form-group">
                  <label for="email">{{ form.username.label_tag }}</label>
                  {{form.username}}
                </div>
                <div class="form-group">
                  {{ form.password.label_tag }}
                  {{ form.password }}
                </div>
              </p>
              <input class="btn btn-default" type="submit" value="Login" />
              <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
    </div>


</body>
<html>
