{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Share Jar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>

  </head>

<body>
<title>
{% block title %} Share Jar {% endblock %}
</title>

{% block content%}

{% endblock %}

</body>
</html>
