{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Share Jar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "/js/bootstrap.min.js" %}"></script>

  </head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">ShareJar</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>{% block navjointeam %} <a href="{% url 'joinTeam' %}">Teams</a>{% endblock %}</li>
      <li>{% block navteamstats %} <a href="{% url 'teamStats' %}">Stats</a>{% endblock %}</li>
      <li>{% block navaddtobalance %} <a href="{% url 'balance' %}">Balances</a>{% endblock %}</li>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
{% block content%}

{% endblock %}
</div>
</body>
</html>


<script>
{% block script %}
{% endblock %}
</script>
</style>
{% block mystyle %}
{% endblock %}
</style>
