.header-text {
   font-size: 28px;
   font-family:'ProximaNova';

}

.center {text-align: center;}

.styled-select{
    height: 40px;
	width: 300px;
    padding: 8px;
    background: #fafafa;
    color: #626262;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
   }

.styled-input {
    height: auto;
    padding: 8px;
    margin-bottom: 15px;
    background: #fafafa;
    color: #626262;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
}

.styled-submit {
	display: inline-block;
    height: auto;
    padding: 8px 16px;
    background: #a1a1a1;
    color: white;
    border: 2px solid #a1a1a1;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    white-space: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}
