{% extends "base.html" %}

<header>Add Charity</header>

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">ShareJar</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">{% block navaddcharity %} <a href="{% url 'addCharity' %}">Add Charity</a>{% endblock %}</li>
      <li>{% block navremcharity %} <a href="{% url 'removeCharity' %}">Remove Charity</a>{% endblock %}</li>
      <li>{% block naveditcharity %} <a href="{% url 'lookupCharity' %}">Edit Charity</a>{% endblock %}</li>
      <li>{% block navdelaccount  %} <a href="{% url 'deleteAccount' %}">Delete User Account</a>{% endblock %}</li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">


{% block title %}Add a Charity{% endblock %}

<div class="addCharity-panel panel panel-default">
  <div class="panel-body">
    <form action="addCharity" method="POST">{% csrf_token %}
      <p class="form-addCharity">
        {% if form.errors %}
          <div class="alert alert-danger">
            {% for error in form.charityname.errors %}
              <p>{{ error }}</p>
            {% endfor %}
            {% for error in form.paypal_email.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <div class="form-group">
          {{ form.charityname.label_tag }}
          {{form.charityname}}
        </div>
        <div class="form-group">
          {{ form.description.label_tag }}
          {{ form.description }}
        </div>
        <div class="form-group">
          {{ form.paypal_email.label_tag }}
          {{ form.paypal_email }}
        </div>
      </p>
       <input class="btn btn-default" type="submit" value="submit" />
    </form>
  </div>

</div>
<div class="stats-text">
{% if balance %}
    <p>{{balance}}</p>
{% endif %}
</div>
</div>
{% endblock %}
