{% extends "base.html" %}
{% load static %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">ShareJar</a>
    </div>
    <ul id="sharejarnav" class="nav navbar-nav navbar-right">
      <li>{% block navaddcharity %} <a href="{% url 'addCharity' %}">Add Charity</a>{% endblock %}</li>
      <li>{% block navremcharity %} <a href="{% url 'removeCharity' %}">Remove Charity</a>{% endblock %}</li>
      <li>{% block naveditcharity %} <a href="{% url 'lookupCharity' %}">Edit Charity</a>{% endblock %}</li>
      <li class="active">{% block navdelaccount  %} <a href="{% url 'deleteAccount' %}">Delete Account</a>{% endblock %}</li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">

<div class="home">
<div class="page-header">
  <h3>Are you sure you want to delete this user account?</h3>
  <h4>This will permanently delete this user's account and all balances.</h4>
</div>
    <h5>Username: {{member.user.username}}</h5>
    <h5>Email: {{member.user.email}}</h5>
    <h5>Paypal Email: {{member.paypal_email}}</h5>
    <form action="#" method="get">
    <input type="submit" class="btn" value="Delete Account" name="confirm">
  </form>
</div>
<div>
{% endblock %}
