{% extends "admin.html" %}
{% load static %}

{% block content %}

<div class="container">

<div class="home">
  {% block title %}Are you sure you want to remove this charity?{% endblock %}
  {% block subtitle %}This will also delete all user balances associated with this charity.{% endblock %}

      <h5>Name: {{charity.charityname}}</h5>
      <h5>Descrption: {{charity.description}}</h5>
      <h5>Paypal Email: {{charity.paypal_email}}</h5>
      <form action="#" method="get">
      <input type="submit" class="btn" value="Remove Charity" name="confirm">
    </form>
</div>
<div>
{% endblock %}
