{% extends "base.html" %}
{% block content %}
<div class="header-text">
Current Balances<br><br>
</div>

<style>
.stats-text {
   color: #a6a6a6;
   font-size: 5vw;
}

.button {
    height: 9px;
    padding: 8px;
    margin-bottom: 15px;
    background: #fafafa;
    color: #626262;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
}

</style>

<div class="stats-text">
{% if balance %}
    <p>{{balance}}</p>
{% endif %}
</div>
{% endblock %}