{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <!-- Your first column here -->
    <img src="/static/sharejar.png" width="400" height="600" alt="ShareJar">
  </div>
  <div class="col-md-8">
    <!-- Your second column here -->
    <div class="page-header">
	<br>
	<br>
	<br>
        <h3>ShareJar</h3>
    </div>
    <p>ShareJar is a way for businesses and teams to enforce informal <br>
    rules while giving back in the process. ShareJar keeps track of your <br>
    balances and allows you to make donations through the site. No cash needed.  
  </div>
</div>

{% endblock %}
