{% extends "base.html" %}

<div class="container">

{% block content %}

        <!--Show team blocks if user is on a team-->
        {% if hasTeam %}
           <!--loop through teams, creating a team block for each one-->
           {% for t, Info in TeamsInfo %}
           <div class="addCharity-panel panel panel-default">
             <div class="panel-body">
               <h4>Team: {{ t.name }}  </h4>
               <!--Invite to team-->
               <form class="form-inline" action={% url 'joinTeam' %} method="post"\>{% csrf_token %}
                 {{inviteTeamForm.username}}

                 <input hidden type="text" name="team" value="{{ t.name }}">
                 <input class="btn btn-default" type="submit" value="Invite" name="invite_member"/>
               </form>
             </br>
               <!--Team Leader Block-->
               {% if t.leader.user.username == username %}
               <form class="form-inline" action={% url 'joinTeam' %} method="post"\>{% csrf_token %}
                 {{changeTeamNameForm.name}}
                 <input hidden type="text" name="team" value="{{ t.name }}">
                 <input class="btn btn-default" type="submit" value="Change Team Name" name="change_team_name"/>
               </form>
               <br>
               <form class="form-inline" action={% url 'joinTeam' %} method="post"\>{% csrf_token %}
                   <div>
                   <input type="hidden" name="team" value="{{ t.name }}">
                   <select required class="form-control" name="NewTeamLeader" id="NewTeamLeaderDropDown" Height="18px" Width="187px">
                     <label>
                     <option selected hidden >Select A Member</option>
                     {% for m in Info.membernames %}
                       <option Value={{m}}>{{m}}</option>
                     {% endfor %}
                   </select>
                   <input class="btn btn-default" type="submit" value="Change Leader" name="change_leader"/>
                 </div>
               </form>
               <br>
                   <form class="form-inline" action={% url 'joinTeam' %} method="post"\>
                     {% csrf_token %}
                     <div>
                       <input type="hidden" name="team" value="{{ t.name }}">
                        <select required class="form-control" name="member" id="choice" Height="72px" Width="184px">
                            <option selected hidden >Select A Member</option>
                            {% for m in Info.membernames %}
                              <option Value={{m}}>{{m}}</option>
                            {% endfor %}
                        </select>
                        <select required class="form-control" name="charity" id="BalancesDropDown" Height="18px" Width="187px">
                            <option selected disabled hidden >Select A Charity/Balance</option>
                            {% for b in Info.memberbalances %}
                              <option Value={{b.member.user}}_{{b.charity}}>${{b.balance}} {{b.charity}}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                            <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter an Amount">
                          </div>
                        <input class="btn btn-default" type="submit" value="Edit Balance" name="edit_balance"/>
                      </div>
                   </form>
                  </br>
               {% endif %}
               <!--End of Team Leader Block-->

               <!--Leave Team-->
               <form class="form-inline" action={% url 'joinTeam' %} method="post"\>{% csrf_token %}
                 <input type="hidden" name="team" value="{{ t.name }}">
                 <input class="btn btn-default" type="submit" value="Leave Team" name="leave_team" />
               </form>

             </div>
           </div>
           {% endfor %}
        {% endif %}
        <!--End of Team Blocks-->

        <!--Create Or Join Team-->
        {% if createTeamForm %}
        <div class="addCharity-panel panel panel-default">
          <div class="panel-body">
        <div class="row">
        <!--Create a Team-->
        <div class="col-sm-6 text-center">
          <h4>Create a Team</h4>
          <form class="form-inline" action={% url 'joinTeam' %} method="post"\>{% csrf_token %}
            <p class="form-createTeam">
              {% if createTeamForm.non_field_errors %}
                <div class="alert alert-danger">
                  {% for error in createTeamForm.non_field_errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">{{ createTeamForm.name.label_tag }}</label>
                  {{createTeamForm.name}}
                  {{createTeamForm.charity}}
              </div>
              <input class="btn btn-default" type="submit" value="Create and Join Team" name="create_team" />
            </p>
          </form>
        </div>
        <!--Join a team-->
        <div class="col-sm-6 text-center">
          <h4>Join a Team</h4>
          <form class="form-inline" action={% url 'joinTeam' %} method="post"\>{% csrf_token %}
            <p class="form-joinTeam">
              {% if joinTeamForm.non_field_errors %}
                <div class="alert alert-danger">
                  {% for error in joinTeamForm.non_field_errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              <div class="form-group">
                {{ joinTeamForm.team.label_tag }}
                {{joinTeamForm.team}}
              </div>
              <input class="btn btn-default" type="submit" value="Accept Team Invitation" name="join_team"/>
            </p>
          </form>
        </div>
        </div>
        {% else %}
            <div class="alert alert-danger">You cannot create or join a new team until your balances are cleared</div>
        {% endif %}
        </div>
      </div>
      <!--End of Create or Join Block-->

</div>

{% endblock %}
{% block script %}
  var options = $("#BalancesDropDown").html();
  $("#MemberDropDown").change(function(e) {
      var text = $("#MemberDropDown :selected").text();
      $("#BalancesDropDown").html(options);
      if (text == "All") return;
      $('#BalancesDropDown :not([value^="' + text + '_' + '"])').remove();

  });
  $("#choice").change(function () {
      if($(this).val() == "0") $(this).addClass("empty");
      else $(this).removeClass("empty")
  });

  $("#choice").change();
{% endblock %}
