{% extends "base.html" %}


<div class="container">


{% block title %}
{% if currentTeam %}
Current Team: {{currentTeam}}
{% else %}
Join a Team
{% endif %}
{% endblock %}

{% block content %}
<div class="addCharity-panel panel panel-default">
  <div class="panel-body">

  {% if createTeamForm %}
  
   <form action={% url 'joinTeam' %} method="post"\>
      Create a team <br>
      {% csrf_token %}
      {{createTeamForm}}
      <input type="submit" value="Create and Join Team" name="create_team" />
   </form>
   <br><br>

   <form form action={% url 'joinTeam' %} method="post"\>
     You have invitations to the following teams
     {% csrf_token %}
     {{joinTeamForm}}
     <input type="submit" value="Accept Team Invitation" name="join_team"/>
   </form>
   {% else %}
      <div class="alert alert-danger">You cannot create or join a new team until your balances are cleared</div>
   {% endif %}

   {% if currentTeam %}
   <form form action={% url 'joinTeam' %} method="post"\>
     Invite someone to join this team!
     {% csrf_token %}
     {{inviteTeamForm}}
     <br>
     <input type="submit" value="Invite user to team" name="invite_member"/>
     <br><br>
   </form>
   <form form action={% url 'joinTeam' %} method="post"\>
     {% csrf_token %}
     <input type="submit" value="Leave Team" name="leave_team" />
   </form>
   {% endif %}
   {% if isCurrentLeader %}
   <div class="addCharity-panel panel panel-default">
     <div class="panel-body">
       <form form action={% url 'joinTeam' %} method="post"\>
         {% csrf_token %}
         <div>
           <h4>Edit Team Member Balances</h4>
           Select Member
            <select name="member" id="MemberDropDown" Height="72px" Width="184px">
                <option selected disabled style='display: none' value=''></option>
                {% for m in membernames %}
                  <option Value={{m}}>{{m}}</option>
                {% endfor %}
            </select>
            Select Charity/Balance
            <select name="charity" id="BalancesDropDown" Height="18px" Width="187px">
                <option selected disabled style='display: none' value=''></option>
                {% for b in charitybalances %}
                  <option Value={{b.member.user}}_{{b.charity}}>${{b.balance}} {{b.charity}}</option>
                {% endfor %}
            </select>
            Select Amount (negative or positive) <input type="text" name="amount">
            <input type="submit" value="Edit Balance" name="edit_balance"/>
          </div>
       </form>
       <hr>
       <form form action={% url 'joinTeam' %} method="post"\>{% csrf_token %}
           <div>
           <h4>Change Team Leader</h4>
           <select name="NewTeamLeader" id="NewTeamLeaderDropDown" Height="18px" Width="187px">
             <option selected disabled style='display: none' value=''></option>
             {% for m in membernames %}
               <option Value={{m}}>{{m}}</option>
             {% endfor %}
           </select>
           <input type="submit" value="Change Leader" name="change_leader"/>
         </div>
       </form>
       <hr>
       <form form action={% url 'joinTeam' %} method="post"\>{% csrf_token %}
         <h4>Change Team Name</h4>
         {{changeTeamNameForm}}
         <input type="submit" value="Change Team Name" name="change_team_name"/>
       </form>
     </div>
   </div>
   {% endif %}
</div>
</div>
</div>
{% endblock %}

{% block script %}
var options = $("#BalancesDropDown").html();
$("#MemberDropDown").change(function(e) {
    var text = $("#MemberDropDown :selected").text();
    $("#BalancesDropDown").html(options);
    if (text == "All") return;
    $('#BalancesDropDown :not([value^="' + text + '_' + '"])').remove();

});
{% endblock %}
