{% extends "admin.html" %}
{% load static %}

{% block content %}

<div class="container">
<div class="home">
<div class="page-header">
  <h3>Remove a Charity</h3>
  <h4>Search for the charity to be removed below.</h4>
</div>
<div class="removeCharity-panel panel panel-default">
  <div class="panel-body">
    <form action="removeCharity" method="POST">{% csrf_token %}
      <p class="form-removeCharity">
        {% if form.errors %}
          <div class="alert alert-danger">
            <p>Error</p>
          </div>
        {% endif %}
        <div class="form-group">
          {{ form.charityname.label_tag }}
          {{form.charityname}}
        </div>
      </p>
       <input class="btn btn-default" type="submit" value="Search" />
    </form>
  </div>
<div class="charityList-panel panel panel-default">
  <div class="panel-body">
    <div class="stats-text">
    {% if charities %}
      {% for charity in charities %}
         <label for="charity">Name: {{charity.charityname}}  Description: {{charity.description}} Paypal Email: {{charity.paypal_email}}</label>
         <a href="{% url 'confirmRemoveCharity' charity.charityname %}" class="btn btn-default">Remove Charity</a>
      {%  endfor %}
    {% elif hasSearched %}
        <label for="charity">No charities with that name were found. Please try again.</label>
    {% endif %}
    </div>
  </div>
</div>
</div>
<div>
{% endblock %}
