{% extends "base.html" %}
{% block content %}



<div class="page-header">
  <h3>{{teamName}} Stats</h3>
</div>
 <br>



<p class="thick">Total Team Contributions:      ${{donationTotal}}</p>
<br> <br>
{% if currentMemberDonations %}
Current Members <br>
{% for donationOb in currentMemberDonations %}
{{donationOb.member.user.username}}         {{donationOb.total}}
<br>
{% endfor %}
{% endif %}

{% if formerMemberDonations %}
<br><br>
Former Members <br>
{% for donationOb in formerMemberDonations %}
{{donationOb.member.user.username}}:   ${{donationOb.total}}
<br>
{% endfor %}
{% endif %}

{% endblock %}
