{% extends "base.html" %}
{% block content %}


<div class="page-header">
  <h3>Team Stats</h3>
</div>

{{teamName}}      {{donationTotal}}
<br> <br>
{% if currentMemberDonations %}
Current Members <br>
{% for donationOb in currentMemberDonations %}
{{donationOb.member.name}}         {{donationOb.total}}
<br>
{% endfor %}
{% endif %}

{% if formerMemberDonations %}
<br><br>
Former Members <br>
{% for donationOb in formerMemberDonations %}
{{donationOb.member.user.username}}:   ${{donationOb.total}}
<br>
{% endfor %}
{% endif %}

{% endblock %}
