{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">ShareJar</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">{% block navjointeam %} <a href="{% url 'joinTeam' %}">Join team</a>{% endblock %}</li>
      <li>{% block navteamstats %} <a href="{% url 'teamStats' %}">Team stats</a>{% endblock %}</li>
      <li>{% block navaddtobalance %} <a href="{% url 'addBalance' %}">Add to balance</a>{% endblock %}</li>
      <li>{% block navcurrentbalance  %} <a href="{% url 'currentBalance' %}">Current balance</a>{% endblock %}</li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

Team Stats! <br>

{{teamName}}      {{donationTotal}}
<br> <br>
{% if currentMemberDonations %}
Current Members <br>
{% for donationOb in currentMemberDonations %}
{{donationOb.member.name}}         {{donationOb.total}}
<br>
{% endfor %}
{% endif %}

{% if formerMemberDonations %}
<br><br>
Former Members <br>
{% for donationOb in formerMemberDonations %}
{{donationOb.member.user.username}}:   ${{donationOb.total}}
<br>
{% endfor %}
{% endif %}

{% endblock %}
